body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(mountain2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white; 
    color: #333333; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #747474;
    color: #ffffff; 
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: #747474;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    transition: color 0.3s ease;
}

h2 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5em;
    font-size: 1.8em;
    color: white;
    transition: border-color 0.3s ease, color 0.3s ease;
}

a {
    color: #ffffff; 
    text-decoration: none;
    transition: color 0.3s ease;
}

img {
    border-radius: 20%;
}


.dark-mode {
    background-image: url(darkmountain.jpg);
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode section {
    background-color: #1f1f1f;
}

.dark-mode p, .dark-mode a {
    color: #ffffff;
}

.dark-mode h2 {
    border-bottom: 2px solid #ffffff;
}


header h1 {
    flex: 2;
    text-align: center;
}


@media (max-width: 768px) {
    section {
        padding: 1.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    input[type="checkbox"] {
        transform: scale(1.2);
    }
}

@media (max-width: 480px) {
    section {
        padding: 1em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: medium;
    }

    img {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    header {
        flex-direction: column;
    }
}
