/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(mountain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #c300ff;
    color: #d013ff;
}

header {
    background-color: #747474;
    color: #000000;
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.5);
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: #747474;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: #000000;
}

h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 0.5em;
    font-size: 1.8em;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
    border-radius: 20%;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode section {
    background-color: #1f1f1f;
}

.dark-mode p, .dark-mode a {
    color: #ffffff;
}

.dark-mode h2 {
    border-bottom: 2px solid #ffffff;
}

/* Flexbox alignment */
header h1 {
    flex: 1;
    text-align: left;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    section {
        padding: 1.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    input[type="checkbox"] {
        transform: scale(1.2);
    }
}

@media (max-width: 480px) {
    section {
        padding: 1em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: medium;
    }

    img {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    header {
        flex-direction: column;
    }
}
